.rank_box {
    background: rgba(2, 2, 2,0.3);
    border-width: 0;
    color:white;
    border-radius: 4px;
    text-align: center;
    padding: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}
.rank_box:hover {
    background: rgba(238, 176, 88, 0.9);
    color: black;
}